Section: tools
Priority: optional
Homepage: https://github.com/jschnasse/oi
Standards-Version: 3.9.2
Package: oi
Version: 0.5.5
Maintainer: Jan Schnasse <schnasse@gmx.de>
Architecture: all
Description: convert csv,yml,json and rdf
Copyright: Jan Schnasse, EPL v2.0
